<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title> Portal Pintos </title>


    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="text-center">
    <form class="form-signin">
    <%= form_tag login_welcome_index_path do %>
     
  <img class="mb-4" src="https://www.oster.com.br/arquivos/_OSTERBRASIL_campanha-natal-2017-pintos.png" alt="" width="250" height="100">
  <h1 class="h3 mb-3 font-weight-normal">Novo Portal Pintos</h1>
  <label for="inputText" class="sr-only">Usuário</label>
   <%= text_field_tag :username , "", class: 'form-control',placeholder: "Usuário"%>
  <label for="inputPassword" class="sr-only">Senha</label>
   <%= text_field_tag :password , "", class: 'form-control',placeholder: "Senha", type: 'password'%>
  <div class="checkbox mb-3">
  <% if flash[:alert].present? %>
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
               <strong><%= flash[:alert]%> </strong> 
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <% end %>
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
    <label>
      <input type="checkbox" value="remember-me"> Ajuda
    </label>
  </div>
  <%= submit_tag "Acessar" , class: 'btn btn-lg btn-primary btn-block'%>
  <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
   <%# end %>
  <% end %>
</form>
</body>
</html>
