

<div class="container">
 

<h1 class="text-center"> Contra-Cheque </h1>
<br/>
<br/>
 <%= form_tag site_welcome_index_path do %>
  <div class="row-center">
    <div class="col-center">
      <label> CHAPA: </label>
      <%= text_field_tag :chapa , "", class: 'form-control' %>
    </div>
    <div class="col-center">
     <label> MÊS: </label>
      <%= text_field_tag :mes , "", class: 'form-control'%> 
    </div>
    <div class="col-center">
     <label> ANO:  </label>
      <%= text_field_tag :ano , "", class: 'form-control'%> 
    </div>
    <div class="col-center">
      <%= submit_tag "Enviar" , class: 'btn btn-primary' %>
    </div>   
    
  </div>
<% end %>

 
</div>


<div class="container">

     <div class="row">
      <% if @results.present? %>
 
      <iframe src="data:application/pdf;base64,<%=@results%>" height="842" width="842"></iframe>

     <% end %>  
    </div>

</div>    


